html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.grid-main {
    display: grid;
}

.main {
    padding: 2rem;
}

h1 {
    color: $header-gray;  
}

section {
    background-color: $gray;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
}