html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

@mixin grid-main {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.grid-main{
  @include grid-main;
  margin: 2rem;
  border: 5rem solid $card-gray;
  border-radius: 1rem;
  padding: 3rem;
}

.main {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    align-items: center;

    .img {
      border-radius: 40rem;
      width: 75%;
    }

    .h1 {
        color: $header-gray;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 0.75rem;
    }

    .h2 {
        margin: 0;
        color: $header-gray;
        font-size: 3rem;
        font-weight: 100;
    }
}

.section {
    grid-column: span 3;
    background-color: $base-color;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.25rem;
    padding-left: 3rem;

    p {
      padding-left: 0.5rem;
      color: $header-gray;
      font-weight: 100;
    }

    h3 {
        color: $header-gray;
    }

    .img {
      width: 10%;
    }
}
